name: ci
on: push
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test
  cd:
    runs-on: ubuntu-latest
    needs: ci
    if: github.ref == 'refs/heads/christos-branch'
    steps:
      - uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: $${{ secrets.SSH_PORT }}
          script: |
            cd ~/se2-backend-group-20
            git reset --hard origin/christos-branch
            git pull https://${{ secrets.C_CLONE_TOKEN }}@github.com/SoftwareEngineering2-Assignment/se2-backend-group-20 christos-branch
            bash -ci 'npm install'
            bash -ci 'pm2 restart example-backend-0'
      
      
      
      
