name: ci

on: push 

jobs: 
  ci: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo 
        uses: actions/checkout@v3
      - name: Install dependencies
        run : npm install 
      - name: Run test
        run : npm test
  cd:
    runs-on: ubuntu-latest
    needs: ci
    if: github.ref == 'refs/heads/xhulio11-branch'
    steps: 
     - uses: appleboy/ssh-action@master
       with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERS }}
        password: ${{ secrets.SSH_PASSWORD }}
        port: ${{ secrets.SSH_PORT }}
        script: |
          cd ~/se2/32/se2-backend-group-20
          git reset --hard origin/main 
          git pull https://{{ secrets.CLONE_TOKEN }}@github.com/SoftwareEngineering2-Assignment/se2-backend-group-20 xhulio11-branch 
          bash -ci 'npm install' 
          bash -ci 'pm2 restart backend-group-20'
